<p style="color: green"><%= notice %></p>

<%= render @fridge_item_tagging %>

<div>
  <%= link_to "Edit this fridge item tagging", edit_fridge_item_tagging_path(@fridge_item_tagging) %> |
  <%= link_to "Back to fridge item taggings", fridge_item_taggings_path %>

  <%= button_to "Destroy this fridge item tagging", @fridge_item_tagging, method: :delete %>
</div>
