<p style="color: green"><%= notice %></p>

<%= render @shopping_list_item %>

<div>
  <%= link_to "Edit this shopping list item", edit_shopping_list_item_path(@shopping_list_item) %> |
  <%= link_to "Back to shopping list items", shopping_list_items_path %>

  <%= button_to "Destroy this shopping list item", @shopping_list_item, method: :delete %>
</div>
