<p>
  <strong>Item name:</strong>
  <%= fridge_item.item_name %>
</p>

<p>
  <strong>Item quantity:</strong>
  <%= fridge_item.item_quantity %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= fridge_item.expiration_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= fridge_item.notes %>
</p>
<p>
  <strong>Tags:</strong>
  <%= fridge_item.fridge_tags %>
</p>
<p>
  <%= link_to "Go to Grocery", grocery_path(fridge_item.grocery_id) %>
</p>
