<% if fridge_item.item_quantity <= 0 %>
  <tr id="<%= dom_id fridge_item %>" class="undismissed_row">
    <td class="item_name">
      <%= fridge_item.item_name %>
    </td>
    <td>
      <%= fridge_item.initial_quantity %>
    </td>
    <td>Add Item to Shopping List?</td>
    <td>
      <turbo-frame id="fridge_item_accept_<%=fridge_item.id%>">
        <%= link_to "Accept", add_to_shopping_list_fridge_item_path(fridge_item, meal: @meal&.id), data: { turbo_method: "post"} %>
      </turbo-frame>
    </td>
    <td>
      <%= link_to "Edit", edited_add_to_shopping_list_fridge_item_path(fridge_item), data: { turbo_frame: "_top" }  %>
    </td>
    <td>
      <%= link_to "Decline", decline_add_to_shopping_list_fridge_item_path(fridge_item, meal: @meal&.id), data: { turbo_method: "post", turbo_frame: "fridge_items_list"} %>
    </td>
  </tr>
<% else %>
  <tr id="<%= dom_id fridge_item %>">
    <td class="item_name">
      <%= link_to fridge_item.item_name, edit_fridge_item_path(fridge_item), data: {turbo_frame: "_top"} %>
    </td>
    <td class="item_quantity">
      <turbo-frame id="fridge_item_row_<%=fridge_item.id%>">
        <div style="display: inline-flex">
        <% if fridge_item.item_quantity > 0 && fridge_item.item_quantity <= 1 %>
          <%= button_to "-", decrement_quantity_fridge_item_path(fridge_item), {data: { turbo_frame: "fridge_items_list" }, class: "btn btn-sm quantity-btn"} %>
        <% else %>
          <%= button_to "-", decrement_quantity_fridge_item_path(fridge_item), {class: "btn btn-sm quantity-btn"}  %>
        <% end %>
        <%= link_to fridge_item.item_quantity, inline_edit_fridge_item_path(fridge_item), { class: "px-1 lh-lg" } %>
        <%= button_to "+", increment_quantity_fridge_item_path(fridge_item), {data: { turbo_method: "post"}, class: "btn btn-sm quantity-btn"} %>
        </div>
      </turbo-frame>
    </td>
    <td class="item_expiration_date">
      <%= fridge_item.expiration_date %>
    </td>
    <td class="show">
      <%= button_to "...", fridge_item_path(fridge_item), data: { turbo_frame: "_top" }, method: :get %>
    </td>
    <% if @meal.nil? %>
      <td class="item_notes extra">
        <%= fridge_item.notes %>
      </td>
      <td class="item_tags extra">
        <% fridge_item.tags.each_with_index do |tag, i| %>
          <%= ', ' unless i == 0 %>
          <%= link_to tag.name, url_for(tag: tag.id) %>
        <% end %>
      </td>
      <td class="extra">
        <%= link_to "Go To Grocery", grocery_path(fridge_item.grocery_id), data: { turbo_frame: "_top" }  %>
      </td>
      <td>
        <%= button_to "-", fridge_item, method: :delete, class: "btn btn-danger btn-sm" %>
      </td>
    <% end %>

    <% if @meal.present? %>
      <td>
        <turbo-frame id="fridge_item_row_<%=fridge_item.id%>">
          <% ingredient = @meal.ingredients.find_by(source_fridge_item_id: fridge_item.id) %>
          <% if ingredient.nil? %>
            <%= link_to "Add to meal", new_meal_ingredient_path(meal_id: @meal.id, fridge_item: fridge_item.id, name: fridge_item.item_name, notes: fridge_item.notes, source_fridge_item_id: fridge_item.id, from_fridge: true) %>
          <% else %>
            <em>Added to meal!</em>
          <% end %>
        </turbo-frame>
      </td>
    <% end %>
  </tr>
<% end %>