<td class="item_name">
  <%= link_to fridge_item.item_name, edit_fridge_item_path(fridge_item) %>
</td>
<td class="item_quantity">
  <div style="display: inline-flex">
  <%= button_to "-", decrement_quantity_fridge_item_path(fridge_item), data: { turbo_method: "post"} %>
  <%= fridge_item.item_quantity %>
  <%= button_to "+", increment_quantity_fridge_item_path(fridge_item), data: { turbo_method: "post"} %>
  </div>
</td>
<td class="item_expiration_date">
  <%= fridge_item.expiration_date %>
</td>
<td class="item_notes">
  <%= fridge_item.notes %>
</td>






<% if false %>
  <p>
    <strong>Item name:</strong>
    <%= fridge_item.item_name %>
  </p>

  <p>
    <strong>Item quantity:</strong>
    <%= fridge_item.item_quantity %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= fridge_item.expiration_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= fridge_item.notes %>
  </p>
<% end %>
