<p style="color: green"><%= notice %></p>

<%= render @fridge_item %>

<div>
  <%= link_to "Edit this fridge item", edit_fridge_item_path(@fridge_item) %> |
  <%= link_to "Back to fridge items", fridge_items_path %>

  <%= button_to "Delete this fridge item", @fridge_item, method: :delete %>
</div>
