<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= ingredient.quantity %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= ingredient.notes %>
  </p>

  <p>
    <strong>Meal:</strong>
    <%= ingredient.meal.name %>
  </p>

</div>
