<h1>Editing meal</h1>

<%= render "form", meal: @meal %>
<% @meal.ingredients.each do |ing| %>
  <%= render "ingredients/ingredient", ingredient: ing %>
  <%= link_to "Edit ingredient", edit_meal_ingredient_path(meal_id: @meal.id, id: ing)%>
<% end %>
<%= link_to "Add ingredient", new_meal_ingredient_path(meal_id: @meal.id) %>
<br>

<div>
  <%= link_to "Show this meal", @meal %> |
  <%= link_to "Back to meals", meals_path %>
</div>
